<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.agjin.eclipser"
            class="org.agjin.eclipser.views.EclipserView"
            icon="icons/sample.gif"
            id="org.agjin.eclipser.views.EclipserView"
            name="EclipserView"
            restorable="true">
      </view>
      <category
            id="org.agjin.eclipser"
            name="Eclipser">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.agjin.eclipser.workbenchActionSet"
            label="Eclipser Actionset"
            visible="true">
         <menu
               id="org.agjin.eclipser.workbenchMenu"
               label="Eclip&amp;serView"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.agjin.eclipser.actions.OpenEclipserViewActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.openEclipserView"
               label="Open Eclip&amp;ser View"
               menubarPath="org.agjin.eclipser.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open the Eclipser View">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.agjin.eclipser.popupMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="org.agjin.eclipser.popupSubMenu"
               label="Eclipser"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="content2">
            </groupMarker>
         </menu>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserActionDelegate"
               enablesFor="+"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipser"
               label="Add"
               menubarPath="org.agjin.eclipser.popupSubMenu/content"
               tooltip="Add the currently selected resource(s) to the Eclipser view">
         </action>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserActionDelegate"
               enablesFor="2+"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipser"
               label="Add2"
               menubarPath="org.agjin.eclipser.popupSubMenu/content2"
               tooltip="Add the currently selected resource(s) to the Eclipser view">
         </action>
      </objectContribution>
      <viewerContribution
            id="org.agjin.eclipser.membersViewPopup"
            targetID="org.eclipse.jdt.ui.MembersView">
         <menu
               id="org.agjin.eclipser.membersViewPopupSubMenu"
               label="Eclipser"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserInMembersViewActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipserInMembersView"
               label="Add"
               menubarPath="org.agjin.eclipser.membersViewPopupSubMenu/content"
               tooltip="Add selected member&apos;s compilation unit to the Eclipser view">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.agjin.eclipser.membersViewActions"
            targetID="org.eclipse.jdt.ui.MembersView">
         <action
               class="org.agjin.eclipser.actions.AddToEclipserInMembersViewActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipserInMembersView2"
               label="Add"
               style="push"
               toolbarPath="additions"
               tooltip="Add selected member&apos;s compilation unit to the Eclipser view2">
         </action>
         <menu
               id="org.agjin.eclipser.membersViewPulldownSubMenu"
               label="Eclipser"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserInMembersViewActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipserInMembersView3"
               label="Add3"
               menubarPath="org.agjin.eclipser.membersViewPulldownSubMenu/content"
               style="push"
               tooltip="Add selected member&apos;s compilation unit to the Eclipser view3">
         </action>
      </viewContribution>
   </extension>

</plugin>
