<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.agjin.eclipser"
            class="org.agjin.eclipser.views.EclipserView"
            icon="icons/sample.gif"
            id="org.agjin.eclipser.views.EclipserView"
            name="EclipserView"
            restorable="true">
      </view>
      <category
            id="org.agjin.eclipser"
            name="Eclipser">
      </category>
      <view
            category="org.agjin.eclipser"
            class="org.agjin.eclipser.views.EclipserView2"
            icon="icons/sample.gif"
            id="org.agjin.eclipser.views.EclipserView2"
            name="EclipserView2"
            restorable="true">
      </view>
      <view
            category="org.agjin.eclipser"
            class="org.agjin.eclipser.views.EclipserView3"
            icon="icons/sample.gif"
            id="org.agjin.eclipser.views.EclipserView3"
            name="EclipserView3"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.agjin.eclipser.workbenchActionSet"
            label="Eclipser Actionset"
            visible="true">
         <menu
               id="org.agjin.eclipser.workbenchMenu"
               label="Eclip&amp;serView"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.agjin.eclipser.actions.OpenEclipserViewActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.openEclipserView"
               label="Open Eclip&amp;ser View"
               menubarPath="org.agjin.eclipser.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open the Eclipser View">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
        
	  <!--
	  아무래도 아래와 같이 우선순위가 적용되는 것 같다.
	  우선순위 : objectContribution > viewerContribution 
	  하지만 filter? 요걸 사용하면 다르게 적용할수도 있을 거 같다?	  
      -->
      <viewerContribution
            id="org.agjin.eclipser.compilationUnitEditorPopup"
            targetID="#CompilationUnitEditorContext">
         <menu
               id="org.agjin.eclipser.compilationUnitEditorPopupSubMenu"
               label="Eclipser"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserInCompilationUnitEditorActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipserInCompilationUnitEditor"
               label="Add"
               menubarPath="org.agjin.eclipser.compilationUnitEditorPopupSubMenu/context">
         </action>
      </viewerContribution>
      
      <objectContribution
            adaptable="true"
            id="org.agjin.eclipser.popupMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="org.agjin.eclipser.popupSubMenu"
               label="Eclipser"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="content2">
            </groupMarker>
            <groupMarker
                  name="content3">
            </groupMarker>
         </menu>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserActionDelegate"
               enablesFor="+"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipser"
               label="Add - obj"
               menubarPath="org.agjin.eclipser.popupSubMenu/content"
               tooltip="Add the currently selected resource(s) to the Eclipser view">
         </action>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserActionDelegate"
               enablesFor="2+"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipser"
               label="Add2 - obj"
               menubarPath="org.agjin.eclipser.popupSubMenu/content2"
               tooltip="Add the currently selected resource(s) to the Eclipser view">
         </action>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserActionDelegate3"
               enablesFor="+"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.view.addToEclipser"
               label="Add3 - obj"
               menubarPath="org.agjin.eclipser.popupSubMenu/content3"
               tooltip="Add the currently selected resource(s) to the Eclipser view">
         </action>
      </objectContribution>
	  
	  <!--
      <viewerContribution
            id="org.agjin.eclipser.membersViewPopup"
            targetID="org.eclipse.jdt.ui.MembersView">
         <menu
               id="org.agjin.eclipser.membersViewPopupSubMenu"
               label="Eclipser"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserInMembersViewActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipserInMembersView"
               label="Add"
               menubarPath="org.agjin.eclipser.membersViewPopupSubMenu/content"
               tooltip="Add selected member&apos;s compilation unit to the Eclipser view">
         </action>
      </viewerContribution>
      -->
      <viewerContribution
            id="org.agjin.eclipser.eclipserViewPopup"
            targetID="org.agjin.eclipser.views.EclipserView3">
         <menu
               id="org.agjin.eclipser.eclipserViewPopupSubMenu"
               label="Eclipser"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserInViewActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipserInView"
               label="Add -view"
               menubarPath="org.agjin.eclipser.eclipserViewPopupSubMenu/content"
               tooltip="Add selected member&apos;s compilation unit to the Eclipser view">
         </action>
      </viewerContribution>
      
   </extension>

   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.agjin.eclipser.membersViewActions"
            targetID="org.eclipse.jdt.ui.MembersView">
         <action
               class="org.agjin.eclipser.actions.AddToEclipserInMembersViewActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipserInMembersView2"
               label="Add"
               style="push"
               toolbarPath="additions"
               tooltip="Add selected member&apos;s compilation unit to the Eclipser view2">
         </action>
         <menu
               id="org.agjin.eclipser.membersViewPulldownSubMenu"
               label="Eclipser"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserInMembersViewActionDelegate"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipserInMembersView3"
               label="Add3"
               menubarPath="org.agjin.eclipser.membersViewPulldownSubMenu/content"
               style="push"
               tooltip="Add selected member&apos;s compilation unit to the Eclipser view3">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.agjin.eclipser.compilationUnitEditorActions"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
         <menu
               id="org.agjin.eclipser.compilationUnitEditorPopupSubMenu2"
               label="Eclipser"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.agjin.eclipser.actions.AddToEclipserInCompilationUnitEditorActionDelegate2"
               definitionId="org.agjin.eclipser.commands.addToEclipserView"
               icon="icons/sample.gif"
               id="org.agjin.eclipser.addToEclipserInCompilationUnitEditor2"
               label="Add"
               menubarPath="org.agjin.eclipser.compilationUnitEditorPopupSubMenu2/context"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Add the editor selection to the Eclipser view">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Eclipser Commands"
            id="org.agjin.eclipser.commands"
            name="Eclipser">
      </category>
      <command
            categoryId="org.agjin.eclipser.commands"
            description="Add the selection the Eclipser"
            id="org.agjin.eclipser.commands.addToEclipserView"
            name="Add to Eclipser View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.agjin.eclipser.commands.addToEclipserView"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+A">
      </key>
   </extension>

</plugin>
